{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - GYMIFY</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <nav class="navbar">
        <div class="nav-logo">GYM<span>IFY</span></div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'public_store' %}">Store</a></li>
            <li><a href="{% url 'public_courses' %}">Workout Courses</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
        <div class="nav-buttons">
            <a href="{% url 'login' %}" class="btn-outline">Login</a>
            <a href="{% url 'register' %}" class="btn-solid">Sign Up</a>
        </div>
    </nav>

    <div class="form-section">
        <div class="form-box">

            <div style="text-align:center;margin-bottom:20px;">
                <div style="font-size:28px;font-weight:800;">
                    GYM<span style="color:#E63946;">IFY</span>
                </div>
                <p style="color:#858685;font-size:14px;margin-top:5px;">
                    Sign in to access your dashboard
                </p>
            </div>
            {% if error %}
            <p class="error-msg" style="color:red;text-align:center;
                      font-size:14px;margin-bottom:15px;">{{ error_msg }}</p>{% endif %}
            <form method="POST" action="/login/">
                {% csrf_token %}
                <div class="role-tabs">
                    <button type="button" class="role-tab active" id="tab-admin" onclick="switchTab('admin')">
                        Admin
                    </button>
                    <button type="button" class="role-tab" id="tab-trainer" onclick="switchTab('trainer')">
                        Trainer
                    </button>
                    <button type="button" class="role-tab" id="tab-member" onclick="switchTab('member')">
                        Member
                    </button>
                </div>
                <input type="hidden" id="role-input" name="role" value="admin">
                <h2 id="form-title" style="font-size:22px;text-align:center;margin-bottom:20px;">
                    Admin Login
                </h2>
                <div class="form-group">
                    <label>Username/Email</label>
                    <input type="text" name="email" autocomplete="new-email" placeholder="Enter your username or email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <div class="password-wrapper">
                        <input type="password" name="password" id="password-field" autocomplete="new-password"
                            placeholder="Enter your password"><i class="fa fa-eye eye-btn" id="eye-icon"
                            onclick="togglePassword()"></i>
                    </div>
                    <div style="text-align:right;margin-bottom:10px;">
                        <a href="/forgot-password/" style="font-size:13px;color:#E63946;text-decoration:none;">Forgot
                            Password?</a>
                    </div>
                    <button type="submit" class="form-btn">
                        Sign In
                    </button>
            </form>
            <div class="form-footer">
                <p>Don't have an account?
                    <a href="{% url 'register' %}">
                        Sign Up here
                    </a>
                </p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>