{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password - GYMIFY</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav class="navbar">
        <div class="nav-logo">GYM<span>IFY</span></div>
        <div class="nav-buttons">
            <a href="{% url 'login' %}" class="btn-solid">Login</a>
        </div>
    </nav>

    <div class="form-section">
        <div class="form-box">

            <div style="text-align:center;margin-bottom:20px;">
                <div style="font-size:28px;font-weight:800;">
                    GYM<span style="color:#E63946;">IFY</span>
                </div>
            </div>

            {% if error %}
            <p style="color:red;text-align:center;
                      font-size:14px;margin-bottom:15px;">
                {{ error }}
            </p>
            {% endif %}

            {% if success %}
            <div style="background:#d4edda;color:#155724;
                        padding:15px;border-radius:8px;
                        text-align:center;margin-bottom:20px;">
                ✅ {{ success }}
                <br><br>
                <a href="{% url 'login' %}" class="btn-solid">
                    Login Karo
                </a>
            </div>
            {% else %}

            <h2 style="font-size:22px;text-align:center;
                       margin-bottom:20px;">
                Set Your New Password
            </h2>

            <form method="POST" action="/reset-password/"
                  autocomplete="off">
                {% csrf_token %}
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password"
                           name="new_password"
                           placeholder="Type New Password"
                           autocomplete="new-password">
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password"
                           name="confirm_password"
                           placeholder="Type Your password again"
                           autocomplete="new-password">
                </div>
                <button type="submit" class="form-btn">
                    Change Your Password
                </button>
            </form>

            {% endif %}
            <div class="form-footer">
                <p><a href="{% url 'login' %}">Back to Login</a></p>
            </div>
        </div>
    </div>
</body>
</html>